

{% extends 'base.html' %}

{% block title %}
    <title>管理员登录</title>
{% endblock %}

{% block body %}

      <nav class="navbar navbar-inverse navbar-fixed-top" style="background: url(/static/img/head_back.png) ;position: relative;margin-bottom: 0px">
        <div class="container" style="margin: 0 auto;miax-width:1025px ">
        <div class="navbar-header" style="margin-top: 20px;margin-bottom: 20px">
            <img src="/static/img/xiaohui.png"  style="width: 105px;height: 100px" alt=""/>
            <img src="/static/img/xiaoming.png"  style="width: 300px;height: 100px" alt=""/>
        </div>


</div>

    </nav>

    {#    <!-- Main jumbotron for a primary marketing message or call to action -->#}
    {#    <div class="jumbotron container "#}
    {#         style=" position: relative; margin: auto;background: url(/static/img/bg_02.png) ;width:100%">#}
    </div>
    <style type="text/css">
        .mydiv {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    </style>
        <div class="container " style="height: 800px">
            <!-- Example row of columns -->
            <!-- 第一列放表格 -->
            <div>



            </div>
            <div id="navbar" class="navbar-collapse collapse  text-center align-items-center"  >
                <form class="form-signin center-block" method="post" action="{% url 'glydl' %}"  style="   margin:15%"   ;>
                    {% csrf_token %}
                     <h2 class="form-signin-heading" style="margin: 5.3%">管理员登录</h2>
                    <div class="form-group  ">
                        <input type="text" placeholder="用户名" class="form-control  center-block" name="username" style="width: 25%">
                    </div>
                    <div>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="密码" class="form-control  center-block" name="password"  style="width: 25%">
                    </div>
                           <div>



                    </div>

                    <button type="submit" class="btn btn-success">管理员登录</button>
                </form>
            </div><!--/.navbar-collapse -->
  <br>
            <footer class="navbar-fixed-bottom" >
                <p>2019 北京交通大学信息中心保留网站所有权利 未经允许不得复制、镜像</p>
            </footer>
        </div> <!-- /container -->









{% endblock %}